<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/data/jpa
http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
">

    <!-- the base package for spring data jpa repository interfaces -->
    <!--<jpa:repositories base-package="com.mytechtip.example.springjpatest.repository"/>-->

    <!-- Enable the component scan (auto wiring etc) for the following package -->
    <context:component-scan base-package="de.forsthausapotheke"/>

    <!-- Make sure the following is specified to enable transaction -->
    <tx:annotation-driven/>
    <bean class="org.springframework.orm.jpa.JpaTransactionManager" id="transactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- This defines the entity manager factory with some custom properties -->
    <bean id='entityManagerFactory' class='org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean'>
        <property name="persistenceUnitName" value="hormone-invoice"/>
        <property name='dataSource' ref='dataSource'/>
        <property name="jpaPropertyMap">
            <map>
                <entry key="eclipselink.weaving" value="false"/>
            </map>
        </property>
    </bean>



    <!-- This defines the hsqldb data source -->
    <bean id='dataSource' class='org.springframework.jdbc.datasource.DriverManagerDataSource'>
        <property name='driverClassName' value='org.postgresql.Driver'/>
        <property name='url' value='jdbc:postgresql://localhost:5432/forsthausapotheke'/>
        <property name='username' value='postgres'/>
        <property name='password' value='pegasus12'/>
    </bean>
    <context:annotation-config/>
</beans>